In [1]:
import pandas as pd
txt = pd.read_table("popular-names.txt",sep="\t",header=None)

In [2]:
txt[-3:]

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018