In [1]:
import pandas as pd
txt = pd.read_table("popular-names.txt",sep="\t",header=None)

In [5]:
txt[0:3]

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880