In [1]:
import pandas as pd
txt = pd.read_table("popular-names.txt",sep="\t",header=None)

In [12]:
N = 5
splt = len(txt)//N
cnt = 0
for i in range(N):
    print(txt.loc[cnt:cnt+splt])
    cnt += splt

             0  1     2     3
0         Mary  F  7065  1880
1         Anna  F  2604  1880
2         Emma  F  2003  1880
3    Elizabeth  F  1939  1880
4       Minnie  F  1746  1880
..         ... ..   ...   ...
552      James  M  6707  1907
553     George  M  4445  1907
554     Robert  M  4020  1907
555    Charles  M  3884  1907
556     Joseph  M  3844  1907

[557 rows x 4 columns]
           0  1      2     3
556   Joseph  M   3844  1907
557    Frank  M   2943  1907
558   Edward  M   2576  1907
559    Henry  M   2203  1907
560     Mary  F  18665  1908
...      ... ..    ...   ...
1108   Nancy  F  14544  1935
1109   Helen  F  12781  1935
1110  Robert  M  56524  1935
1111   James  M  55000  1935
1112    John  M  47499  1935

[557 rows x 4 columns]
             0  1      2     3
1112      John  M  47499  1935
1113   William  M  40198  1935
1114   Richard  M  33945  1935
1115   Charles  M  29983  1935
1116    Donald  M  29661  1935
...        ... ..    ...   ...
1664     Linda  F  27719  1963
1665     Donna  F  25399  1963
1666  Patricia  F  25371  1963
1667      Lori  F  23907  1963
1668    Sandra  F  21619  1963

[557 rows x 4 columns]
             0  1      2     3
1668    Sandra  F  21619  1963
1669   Cynthia  F  21593  1963
1670   Michael  M  83782  1963
1671      John  M  78625  1963
1672     David  M  78467  1963
...        ... ..    ...   ...
2220    Ashley  F  43478  1991
2221   Jessica  F  43398  1991
2222  Brittany  F  29089  1991
2223    Amanda  F  28893  1991
2224  Samantha  F  25645  1991

[557 rows x 4 columns]
              0  1      2     3
2224   Samantha  F  25645  1991
2225      Sarah  F  25225  1991
2226  Stephanie  F  22774  1991
2227   Jennifer  F  20673  1991
2228  Elizabeth  F  20392  1991
...         ... ..    ...   ...
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[556 rows x 4 columns]