In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
newsCorpora = pd.read_table('newsCorpora.csv', header=None)

In [3]:
newsCorpora.columns = ['ID', 'TITLE', 'URL', 'PUBLISHER', 'CATEGORY', 'STORY', 'HOSTNAME', 'TIMESTAMP']

In [4]:
def confirm_publisher(n):
    return (n in {"Reuters","Huffington","Businessweek","Contactmusic.com","Daily Mail"})

In [13]:
newsCorpora = newsCorpora.query("PUBLISHER in ['Reuters','Huffington','Businessweek','Contactmusic.com','Daily Mail']")

In [14]:
newsCorpora = newsCorpora.sample(frac=1)

In [16]:
train_data,test_data = train_test_split(newsCorpora)

In [22]:
newsCorpora = newsCorpora[['CATEGORY', 'TITLE']].copy()

In [23]:
newsCorpora.head()

       CATEGORY                                              TITLE
57074         b  FOREX-Euro drops to 3-week low on ECB easing t...
248732        e  Cinema Is Dead, For This Generation At Least, ...
81974         e   Chris Evans - Chris Evans won't quit acting soon
202007        e  Larry Wilmore Named As Replacement For Stephen...
415615        e  All hail Queen Bey! Beyoncé arrives in gorgeou...

In [26]:
train,test = train_test_split(newsCorpora, test_size=0.2,  random_state=0)
test,valid = train_test_split(test, test_size=0.5, random_state=0)

train.to_csv('train.txt', sep='\t', index=False, header=None)
test.to_csv('valid.txt', sep='\t', index=False, header=None)
valid.to_csv('test.txt', sep='\t', index=False, header=None)

In [27]:
len(train)

8708

In [28]:
len(test)

1088