In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
from gensim.models import KeyedVectors
model = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)

In [11]:
df = pd.read_table("questions-words.txt",sep=" ",index_col=False,header=None, names=["e1","e2","e3","e4"],skiprows=[0])

In [4]:
df.dropna(inplace=True)
df = df.reset_index(drop=True)

In [5]:
def calc_simvec(x):
    return pd.Series(model.most_similar(positive=[x["e2"], x["e3"]], negative=[x["e1"]])[0])

In [6]:
tqdm.pandas()

C:\Users\kitano\anaconda3\envs\nlp\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [7]:
df[['word', 'score']] = df.progress_apply(calc_simvec, axis=1)

100%|████████████████████████████████████████████████████████████████████████████| 19544/19544 [47:49<00:00,  6.81it/s]

In [14]:
with open("questions-words.txt") as f:
    s = f.readlines()

from collections import defaultdict
d = defaultdict()
cate = ""
for i in s:
    if i[0] == ":":
        cate = i.replace(":","")
        cate = cate.replace(" ","")
        cate = cate.replace("\n","")
    else:
        tmp1,tmp2,tmp3,_ = i.split(" ")
        d[(tmp1,tmp2,tmp3)] = cate

def return_cate(x):
    return pd.Series(d[(x["e1"],x["e2"],x["e3"])])

df[["category"]] = df.progress_apply(return_cate, axis=1)

In [30]:
df.to_csv('ans64.txt', sep=' ', index=False, header=None)

In [31]:
df

,e1,e2,e3,e4,word,score,category
0,Athens,Greece,Baghdad,Iraq,Iraqi,0.635187,capital-world
1,Athens,Greece,Bangkok,Thailand,Thailand,0.713767,capital-world
2,Athens,Greece,Beijing,China,China,0.723578,capital-world
3,Athens,Greece,Berlin,Germany,Germany,0.673462,capital-world
4,Athens,Greece,Bern,Switzerland,Switzerland,0.491975,capital-world
...,...,...,...,...,...,...,...
19539,write,writes,talk,talks,talked,0.544719,gram9-plural-verbs
19540,write,writes,think,thinks,thinks,0.617773,gram9-plural-verbs
19541,write,writes,vanish,vanishes,disappear,0.600271,gram9-plural-verbs
19542,write,writes,walk,walks,walks,0.553434,gram9-plural-verbs
19543,write,writes,work,works,works,0.538761,gram9-plural-verbs